*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #444;
  padding: 0 10rem;
  box-sizing: border-box; }

.border {
  border: 1px solid black; }

.headercontainer {
  padding-top: 5rem;
  height: 100vh;
  padding-right: 0 !important;
  width: calc(100% + 10rem); }

.details {
  height: 100vh; }

.stats {
  height: 25vh; }

.testdrive {
  height: 125vh; }

.cars {
  height: 100vh; }

input:focus {
  outline: 0; }

.nav {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 3rem; }
  .nav__logo {
    flex: 1;
    position: relative; }
    .nav__logo--top {
      font-family: 'Merriweather', serif;
      color: #FA744F;
      font-size: 3rem; }
    .nav__logo--bottom {
      color: #024249;
      text-transform: uppercase;
      position: absolute;
      top: 4rem; }
  .nav__listcontainer {
    flex: 1;
    display: flex; }
  .nav__list {
    width: 100%;
    list-style: none;
    flex: 1;
    display: flex;
    align-items: center; }
    .nav__list--item {
      flex: 1;
      font-size: 1.5rem;
      width: auto; }
    .nav__list--link {
      text-decoration: none; }
      .nav__list--link:visited {
        color: #444; }
      .nav__list--link:hover {
        color: #F79071; }
      .nav__list--link-bold {
        color: #FA744F !important;
        font-weight: 600; }
        .nav__list--link-bold:hover {
          color: #444 !important; }

.header {
  height: calc(100% - 11rem);
  margin-top: 3rem;
  display: flex; }
  .header__left {
    flex: 1; }
    .header__left--items {
      height: 100%;
      padding: 20rem 0;
      position: relative; }
    .header__left--title-1 {
      font-family: 'Merriweather', serif;
      color: #024249;
      font-size: 4rem;
      position: absolute;
      top: 18rem; }
    .header__left--title-2 {
      font-family: 'Merriweather', serif;
      color: #FA744F;
      font-size: 9rem; }
    .header__left--subtitle {
      font-size: 1.9rem;
      padding-top: 10rem;
      width: 40%; }
    .header__left--btn {
      background-color: #024249;
      color: #fff;
      border: none;
      width: 15rem;
      height: 4rem;
      border-radius: 3px;
      margin-top: 3rem;
      font-size: 1.5rem;
      font-family: 'Montserrat', serif; }
      .header__left--btn:hover {
        cursor: pointer;
        background-color: #16817A; }
      .header__left--btn:active {
        transform: translate(0, 2px);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); }
  .header__right {
    flex: 1;
    position: relative; }
  .header__img {
    position: absolute;
    top: 0;
    left: 0;
    height: 90%;
    width: 90%;
    z-index: 10; }
  .header__bg {
    width: 100%;
    max-height: 100%;
    min-height: 100%; }

.details {
  display: flex;
  flex-direction: column;
  padding: 10rem 10rem; }
  .details__top {
    flex: 1;
    min-height: 0;
    display: flex; }
    .details__top--left {
      flex: 1; }
      .details__top--left img {
        max-width: 90%;
        max-height: 90%; }
    .details__top--right {
      flex: 1; }
      .details__top--right h3 {
        font-family: 'Merriweather', serif;
        color: #FA744F;
        font-size: 3rem; }
      .details__top--right p {
        font-size: 2.4rem;
        width: 70%; }
  .details__bottom {
    flex: 1;
    display: flex;
    min-height: 0; }
    .details__bottom--left {
      flex: 1;
      padding-top: 2rem; }
      .details__bottom--left-title {
        font-family: 'Merriweather', serif;
        color: #024249;
        font-size: 3rem;
        width: 35%; }
      .details__bottom--left-subtitle {
        color: #FA744F;
        font-size: 2rem;
        font-weight: bold; }
      .details__bottom--left-text {
        padding-top: 1rem;
        font-size: 1.5rem;
        width: 80%; }
    .details__bottom--right {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center; }
  .details__card {
    border: 1px solid #b8b8b8;
    border-radius: 1rem;
    padding: 2rem 4rem;
    height: 90%;
    width: 90%;
    display: flex;
    flex-direction: column; }
    .details__card hr {
      height: 1px;
      background-color: #ccc;
      border: none; }
    .details__card--top {
      display: flex;
      flex: 2; }
      .details__card--top-left {
        flex: 1;
        position: relative; }
        .details__card--top-left img {
          max-width: 70%;
          max-height: 70%;
          margin: 0 auto;
          display: block;
          border-radius: 3px;
          border: 3px solid #d3d3d3; }
        .details__card--top-left img:hover {
          background-color: grey; }
        .details__card--top-left-text {
          position: absolute;
          bottom: 0;
          font-size: 1.5rem;
          padding: 0 6rem; }
        .details__card--top-left-title {
          font-weight: 400;
          font-size: 1.8rem; }
      .details__card--top-right {
        flex: 1;
        position: relative; }
        .details__card--top-right img {
          max-width: 70%;
          max-height: 70%;
          margin: 0 auto;
          display: block;
          border-radius: 3px;
          border: 3px solid #d3d3d3; }
        .details__card--top-right-text {
          position: absolute;
          bottom: 0;
          font-size: 1.5rem;
          padding: 0 6rem; }
        .details__card--top-right-title {
          font-weight: 400;
          font-size: 1.8rem; }
    .details__card--bottom {
      flex: 1;
      display: flex; }
      .details__card--bottom-left {
        flex: 1;
        padding: 0 6rem; }
      .details__card--bottom-right {
        flex: 1;
        margin-left: 3rem; }
      .details__card--bottom-total {
        font-size: 3rem; }
      .details__card--bottom-monthly {
        font-size: 1.5rem; }
      .details__card--bottom-btn {
        background-color: #FA744F;
        color: #fff;
        border: none;
        width: 10rem;
        height: 4rem;
        border-radius: 3px;
        margin-top: 3rem;
        font-size: 1.5rem;
        font-family: 'Montserrat', serif; }
      .details__card--bottom-btn:hover {
        background-color: #F79071;
        cursor: pointer; }

.stats {
  background-color: #024249;
  color: white !important;
  position: absolute;
  left: 0;
  right: 0;
  padding: 5rem 20rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center; }
  .stats__text {
    flex: 1;
    font-size: 1.5rem; }
  .stats__group {
    flex: 1;
    text-align: center; }
    .stats__group--num {
      font-size: 5rem; }
    .stats__group--desc {
      font-size: 1.2rem; }

.testdrive {
  display: flex;
  padding-top: 25rem;
  padding-right: 20rem; }
  .testdrive__left {
    flex: 1; }
  .testdrive__right {
    flex: 1;
    padding-left: 60rem;
    padding-top: 30rem; }
    .testdrive__right--title {
      font-family: 'Merriweather', serif;
      color: #024249;
      font-size: 3rem; }
    .testdrive__right--subtitle {
      font-family: 'Merriweather', serif;
      font-size: 1.5rem;
      padding-bottom: 4rem; }
    .testdrive__right--input {
      border: 2px solid #024249;
      width: 30rem;
      height: 4rem;
      border-radius: 3px;
      font-size: 1.5rem !important; }
  .testdrive__img {
    height: 120%;
    width: 120%;
    z-index: 10;
    margin-left: 20rem; }
  .testdrive__bg {
    width: 50%;
    max-height: 100%;
    min-height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    z-index: -10; }

.cars {
  display: flex;
  margin-top: 3rem;
  padding-right: 20rem; }
  .cars__left {
    flex: 1; }
  .cars__right {
    flex: 1;
    display: flex;
    flex-direction: column; }
  .cars__group {
    padding-right: 5rem;
    flex: 1;
    padding-top: 5rem; }
    .cars__group--title {
      font-family: 'Merriweather', serif;
      color: #024249;
      font-size: 3rem; }
    .cars__group--subtitle {
      color: #FA744F;
      font-size: 1.7rem;
      padding-bottom: 3rem; }
    .cars__group--text {
      font-size: 1.5rem;
      line-height: 4rem; }
