@import "variables";

*, 
*::after, 
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: $color-text;
    padding: 0 10rem;
    box-sizing: border-box;
}

.border {
    border: 1px solid black;
}

.headercontainer {
    padding-top: 5rem;
    height: 100vh;
    padding-right: 0!important;
    width: calc(100% + 10rem);
}

.details {
    height: 100vh;
}

.stats {
    height: 25vh;
}

.testdrive {
    height: 125vh;
}

.cars {
    height: 100vh;
}

input:focus {outline:0;}